.poller-one-regular {
  font-family: "Poller One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.working {
  -webkit-text-stroke: 1px #ffdede;
  margin-top: 20%;
  float: center;
  font-size: 100;
  color: red;
}
#navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
#navbar a {
  float: left;
  display: block;
  -webkit-text-stroke: 1.5px #626262;
  color: #bad5f1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}
#navlogo {
  float: left;
  padding-left: 7px;
  padding-right: 15px;
  width: 70px;
  height: auto;
}

#smallTXT {
  font-size: 35px;
  padding-top: 10px;
  -webkit-text-stroke: 1px #2f4e65;
  color: #bad5f1;
}

body {
  margin-top: 2vh;
  margin-left: 15vw;
  margin-right: 15vw;
  background-image: linear-gradient(#71b4ed, #71b4ed, #7ee0ef);
  font-family: "Poller One", sans-serif;
  -webkit-text-stroke: 1.5px #2f4e65;
  color: #bad5f1;
  text-align: center;
}
#top {
  padding-top: 30px;
  -webkit-text-stroke: 1px #536d82;
  color: #e1ebf2;
  font-size: 160%;
  text-align: center;
}
#Logo1 {
  background-image: radial-gradient(rgba(44, 144, 228, 0.15), rgba(0, 0, 0, 0));
  width: 20%;
}
#circut-design {
  float: left;
  margin-left: 5%;
  margin-right: 1%;
  width: 90px;
  height: auto;
}
p {
  font-size: 30px;
  margin-top: 4%;
  margin-left: 10%;
  margin-right: 10%;
}
#search-dv {
  padding-top: 2%;
  text-align: center;
  font-size: 50px;
}
#search {
  text-align: center;
  border-style: solid;
  border-radius: 20px;
  border-color: #848484;
  width: 400px;
  height: 40px;
  position: relative;
  top: -8px;
}
#search::placeholder {
  color: #ffffff;
  -webkit-text-stroke: 1% #ffffff;
  text-align: center;
}
